@media screen and (min-width: 768px) {

    .hamburger {
         display: none;
    }

    .navigation {
        display: block;
        position: static;
        box-shadow: none;
        background: transparent;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navigation ul li {
        background: none;
    }

    .navigation ul li  a {
        display: block;
        padding: 0.7rem;
        text-decoration: none;
        text-align: center;
        color: #1e0d0d;
        font-size: 1.1rem;
        font-weight: bolder;
        background: transparent;
    }

    .navigation ul li a:hover {
        color: #ffffff;
        background: #1e0d0d;
    }

    span {
        font-size: 1.5rem;
    }
    .navigation .current {
        background-color: rgb(166, 245, 191);
    }


    .grid {
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
    }

    .list .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }




    /* The End of Styles for Directory Page */


    /* The Beginning of Home Page */

     .hero {
        position: relative;
    }

    .hero img {
        width: 100%;
        height: 500px;
        display: block;
        
    }

    .hero-text {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: right;
        color: white;
        padding: 2rem;
        width: 70%;
    }

    .hero-text h1 {
        font-size: 1.2rem;
    }

    .hero-text p {
        font-size: 0.9rem;
    }

    .cta-button {
        font-size: 0.9rem;
    }

    .info-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 15px;
        align-items: stretch;
        margin-top: 40px;
        padding-top: 20px;
    }

    .events,
    .current-weather,
    .weather-forecast {
        display: flex;
        flex-direction: column;
        /*background: rgb(212, 248, 220);*/
        padding: 1rem;
        box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.3);
        border: 2px solid #1e0d0d; 
    }

    section.events h2,
    section.current-weather h2,
    section.weather-forecast h2 {
        background: #1e0d0d;
        color: white;
        padding: 10px;
        margin: -1rem -1rem 1rem -1rem;
    }


    #forecast-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .forecast-day {
        background: #ffffff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /*.forecast-day {
        background: rgb(173, 67, 67);
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    }*/

    .current-weather {
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-areas:"title title" "icon info";
        gap: 10px;
        align-items: start;
    }

    #weather-icon {
        width: 70px;
        height: 70px;
        grid-area: icon;
        margin: 0;
    }

    .current-weather h2 {
        grid-area: title;
    }

    .current-weather p{
        grid-column: 2;
        margin: 2px 0;
        line-height: 1.2;
    }

    .current-weather span {
        font-size: 1rem;
        font-weight: 400;
        color: #1e0d0d;
        
    }

    .events h2, .current-weather h2, .weather-forecast h2 {
        font-size: 1.3rem;
        font-weight: 700;
        margin-bottom: 1rem;
        color: #1e0d0d;
    }

    .events ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .events li {
        background: #f7f7f7;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 6px;
        font-size: 0.95rem;
        line-height: 1.3;
    }

    .events li:hover {
        background: #eaeaea;
        transform: translateX(3px);
        transition: 0.2s ease;
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        align-items: stretch;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .spotlight-card {
        background: #caf0e8;
        padding: 1rem;
        border: 4px solid #1e0d0d; 
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .spotlights h2 {
        margin-top: 40px;
    }

    .spotlight-card h3 {
        text-align: center;
        font-size: 1.1rem;
    }

    .spotlight-content {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .spotlight-card img,
    .spotlight-card p,
    .spotlight-card a {
        display: block;
    }

    .spotlight-card img {
        width:  100px;
        height: 100px;
        object-fit: cover;
        align-self: flex-start;
    }

    .spotlight-info {
        font-size: 1rem;
        line-height: 1.3;
        padding-left: 30px;
    }

    .spotlight-card p,
    .spotlight-card a {
        margin: 2px 0;
        font-size: 1rem;
        line-height: 1.3;
    }

    /*End of Home page*/

    /*Beginning of Join page*/

    .join-container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        position: relative;
        gap: 3rem;
        max-width: 1100px;
        margin: 0 auto;
    }

    .join-container::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 53%;
        width: 2px;
        background-color: black;
    }

    .application-form {
        padding: 2rem;
        max-width: 500px;
    }

    .membership-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: sticky;
        top: 1rem;
        padding-right: 60px;
    }

    .application-form label {
        font-size: 0.95rem;
    }

    /**/

    /*Discover Page*/
        #discover-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .discover-card {
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 0.5rem;
        background-color:#caf0e8;
        border: 3px solid black;
        padding: 0.8rem;
    }
    .discover-card .content {
        display: flex;
        gap: 0.8rem;
        align-items: flex-start;
    }

    .discover-card img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-right: 0.5rem;
        flex-shrink: 0;
        margin-left: 2rem;
    }

    /*.discover-card p,  
    .discover-card address {
        text-align: center;
    }*/

    .discover-card .text {
        flex: 1;
    }

    .discover-card img:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }


    

    


    









    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 80px;
        flex-wrap: wrap;
    }

    #contact {
        text-align: left;
    }

    #social-media {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    /*#last-section p {
        margin: 0;
    }*/

    #last-section,
    #second-section {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }


    #second-section p,
    #last-section p {
        margin: 2px 0;
    }


    


}