* {
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #112a46;
    margin: 0;
    padding: 0 1rem;
}

main, header, nav {
    padding: 0 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color: #dee2e6;
    position: relative;
    
}

#logo-area {
    display: flex;
    align-items: center;
    gap: 5px;
}


span {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #000080;
}

.hamburger::before {
    content: "\2630";
    color: #000080;
    font-size: 2.5rem;
}

.hamburger.open::before {
    content: "\00D7";
    color: #000080;
    font-size: 3.5rem;
    font-weight: bolder;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: #1e0d0d;
}

.navigation {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    min-width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 1000;

}

.navigation.show {
    display: block;
    background-color: #1e0d0d;
}

.navigation ul li  a {
    display: block;
    padding: 0.7rem;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.navigation ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}

.navigation ul li a:hover {
    color: #1e0d0d;
    background-color: #ffffff;
}

.current {
    background-color: rgb(254, 254, 142);
}

.navigation .current a {
    color: #1e0d0d;
}

/*h1 {
    color: #1e0d0d;
}*/

.buttons { 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px; 
    margin: 5px; 
    margin-bottom: 20px;
    border: none; 
    background: #1e0d0d; 
    color: #ffffff; 
    cursor: pointer; 
    border-radius: 5px;

}

button:hover {
    color: yellow;
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
}

.list { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.card { 
    background: #caf0e8;
    padding: 5px; 
    box-shadow: 0 6px 18px rgba(84, 83, 83, 0.804);
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card p {
    color: #111122;
}

.card h2 {
    color: #111122;
    font-size: 1rem;
}

.card a {
    text-decoration: none;
    color: #0000b8;
}

.card a:hover {
    color: #003d00;
}

.card img { 
    width: 100%; 
    height: 180px; 
    object-fit: cover;  
    display: block;
    margin: 0 auto;
}



.list .card img { 
    width: 150px; 
    height: 100px; 
    display: none;
}

.list .card {
    display: block;
    text-align: left;
    width: 100%;
    max-width: 100%;
}

    .list .card h2,
    .list .card p,
    .list .card a {
        margin: 0;
}

.list .card:nth-child(odd) {
    background-color: #f7d5d5;
}

.list .card:nth-child(even) {
    background-color: whitesmoke;
}


.grid .card {
    width: auto;
}

/*End of Styles for the Directory Page*/

/*Beginning of the Home Page Styles*/


.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 60%;
    left: 50%;
    background: rgba(0,0,0,0.5);
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    padding: 0.5rem;
    width: 100%;
}

.hero-text h1 {
    font-size: 1.2rem;
    margin-bottom: 6px;
    line-height: 1;
    color: yellow;
}

.hero-text p {
    font-size: 0.9rem;
    margin-bottom: 8px;
    line-height: 1;
}

.cta-button {
    display: inline-block;
    padding: 8px 12px;
    font-size: 0.9rem;
    background: yellow;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}


.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 1rem 0;
}

.events {
    background: white;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.events h2 {
    background: #1e0d0d;
    color: white;
    padding: 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
}

.events ul {
    padding-left: 1.2rem;
}

.events li {
    margin-bottom: 0.75rem;
}

.current-weather {
    background: white;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.current-weather h2 {
    background: #1e0d0d;
    color: white;
    padding: 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
}

#weather-icon {
    width: 50px;
    height: 50px;
}

.current-weather p {
    margin: 4px 0;
    font-size: 0.95rem;
    line-height: 1.3;
}

.weather-forecast {
    background: white;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.weather-forecast h2 {
    background: #1e0d0d;
    color: white;
    padding: 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
}

.forecast-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 8px;
    background: #f9f9f9;
    border-radius: 6px;
}

.spotlight-card {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    line-height: 1.3;
    border: 3px solid black;
    background-color: #caf0e8;
}

.spotlight-card h3 {
    margin-bottom: 10px;
}

.spotlight-card img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px auto;
    border: 3px solid black;
}

.spotlight-card p,
.spotlight-card a {
    font-size: 0.9rem;
    margin: 3px 0;
}

/*End Styles for Home Page*/

/*Beginning of Join Page*/

.join-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.application-form {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
}

.application-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-weight: 600;
}

.application-form input,
.application-form select,
.application-form textarea {
    margin-top: .5rem;
    padding: .75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.application-form input[type="submit"] {
        background-color: #1f4e79;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        border: none;
        padding: 1rem;
        font-weight: bold;
        width: 100%
    }

.application-form input[type="submit"]:hover {
        background-color: #163a5a;
    }

/*.application-form input[type="submit"] {
    cursor: pointer;
    border: none;
    padding: 1rem;
    font-weight: bold;
    width: 100%;
    background-color: red;
}*/

.membership-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.aside-card {
    padding: 0.5rem;
    border: 2px solid black;
    background-color: #caf0e8;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: cardFadeIn 0.6s ease forwards;
    opacity: 0;
}

.aside-card h3 {
    color: #1e0d0d;
    
    
}

.aside-card a {
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    background-color: yellow;
    border: 3px solid black;
    padding: 6px 10px;
    cursor: pointer;
}

@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
  

.aside-card:nth-child(1) {
    animation-delay: 0.1s;
}

.aside-card:nth-child(2) {
    animation-delay: 0.2s;
}

.aside-card:nth-child(3) {
    animation-delay: 0.3s;
}

.aside-card:nth-child(4) {
    animation-delay: 0.4s;
}

.thankyou-content {
    max-width: 650px;
    margin: 3rem auto;
    padding: 2rem;
    text-align: center;
}

#application-details {
    margin-top: 2rem;
    background-color: #e9f00c;
    padding: 1rem;
    border: 2px solid black;
    text-align: center;
}

#application-details p {
    margin: 0.5rem 0;
    font-size: 1rem;
}


dialog {
        width: 400px;
        max-width: 90%;
        padding: 1.5rem;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        animation: modalPop 0.25s ease-out;
    }

    @keyframes modalPop {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    dialog::backdrop {
        background: rgba(216, 242, 208, 0.6);
        backdrop-filter: blur(3px);
    }


/*Discover Page*/
#visitor-message {
    text-align: center;
    background: #1e0d0d;
    color: white;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

#discover-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


.discover-card {
    display: flex;
    flex-direction: column;
    background-color: #caf0e8;
    padding: 0.5rem;
    border-radius: 3px;
    
}

.discover-card h2 {
    text-align: center;
    color: #8a0000;
}

.discover-card p,  
.discover-card address {
    text-align: center;
    margin: 0.2rem 0;
    padding-bottom: 0.2rem;
}


.discover-card::after {
    content: "";
    display: block;
    clear: both;
}

.discover-card button {
    margin: 0.5rem 0 0 0;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.discover-card figure {
    margin: 0;
}


.discover-card img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    border: 2px solid black;

}
/**/


footer {
    margin-top: 2rem;
    padding: 1.5rem 1rem;
    background-color: #dee2e6;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

footer #contact a {
    text-decoration: none;
    color: #000000;
}

footer #contact a:hover {
    color: #0000b8;
}



#social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#social-media img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
}

#social-media img:hover {
    transform: scale(1.1);
}

#lastModified{
    color: #000000;
    font-size: 1rem;
}

#currentyear {
    color: #000000;
    font-size: 1rem;
}



